.mainContainer {
  width: 450px;

}

.title {
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
  color: var(--tertiary-color);
}

.childrenContainer {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem .5rem;
  justify-content: center;
  align-items: center;
  
}